@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@font-face{
  font-family: Neue-Machina; src: url('resources/NeueMachina-Regular.otf');
  }
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  transition: 0.2s linear;
}
:root {
  --blue: #98e8cd;
  --dark: #020912;
}
body {
  background-color: var(--dark);
  font-size: 16px;
}
header {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  padding: 1em;
  display: flex;
  width: 50%;
  justify-content: flex-start;
}
.container.container-active{
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: flex-end;
}
  .hamburger{
  padding: .8em;
  width: 3.5em;
  height:3em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}
  .hamburger .lines{
  background-color: white;
  height: 0.2em;
  width: 100%;
  border-radius: 0.5em;
}
 .hamburger .line-2{
  width: 50%;
}
.hamburger.active{
 justify-content: center;
}
.hamburger.active .line-2{
  display: none;
}
.hamburger.active .line-1{
  transform: rotate(130deg);
  background-color: var(--blue);
}
.hamburger.active .line-3{
  transform: rotate(-130deg);
  background-color: var(--blue);
}
header.header-active{
  height: 100vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
header .navbar {
  padding: 1em;
}
header .navbar a {
  color: white;
  padding: 1em;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  position: relative;
  font-weight: 300;
}
header .navbar a::after {
  content: "";
  position: absolute;
  bottom: -0.2em;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--blue);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
header .navbar a:hover {
  color: #98e8cd;
}
header .navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
#home{
  display: flex;
  width: 100%;
  height: 30em;
}
#home .home-txt{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 5em;
}
#home .home-txt .large{
  font-size: 5em;
  font-weight: 500;
  color: white;
  font-family:  Neue-Machina;
}
#home .home-txt .small{
  font-size: 1em;
  color: white;
  letter-spacing: 0.1em;
  font-family:  Neue-Machina;
  padding-top: 1.5em ;
  padding-bottom: 2em;
}
#home .home-txt  span{
  color: var(--blue);
  font-size: 5em;
  font-weight: 500;
  font-family:  Neue-Machina;
  
}
#home .home-txt a{
  letter-spacing: 0.1em;
  background-color: transparent;
  width: 16em;
  cursor: pointer;
  height: 4em;
  color: white;
  border-radius: 2em;
  border: 1px solid var(--blue);
  transition: all 0.5s;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .home-txt a:hover{
color: #98e8cd;
box-shadow: 0px 0px 1em var(--blue);
}
#home .home-img{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .home-img .animation{
  width: 600px;
   height: 600px;
}
