@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600&display=swap');
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  transition: 0.2s linear;
}
:root {
  --blue: #98e8cd;
  --dark: #020912;
}
body {
  background-color: var(--dark);
  font-size: 16px;
}
header {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 1em;
  display: flex;
  width: 50%;
  justify-content: flex-start;
}
.container.container-active {
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: flex-end;
}
.hamburger {
  padding: 0.8em;
  width: 3.5em;
  height: 3em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}
.hamburger .lines {
  background-color: white;
  height: 0.2em;
  width: 100%;
  border-radius: 0.5em;
}
.hamburger .line-2 {
  width: 50%;
}
.hamburger.active {
  justify-content: center;
}
.hamburger.active .line-2 {
  display: none;
}
.hamburger.active .line-1 {
  transform: rotate(130deg);
  background-color: var(--blue);
}
.hamburger.active .line-3 {
  transform: rotate(-130deg);
  background-color: var(--blue);
}
header.header-active {
  height: 100vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
header .navbar {
  padding: 1em;
}
header .navbar a {
  color: white;
  padding: 1em;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  position: relative;
  font-weight: 300;
}
header .navbar a::after {
  content: "";
  position: absolute;
  bottom: -0.2em;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--blue);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
header .navbar a:hover {
  color: #98e8cd;
}
header .navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
#home {
  display: flex;
  width: 100%;
  height: 30em;
}
#home .home-txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 5em;
}
#home .home-txt .large {
  font-size: 4.5em;
  font-weight: 600;
  color: white;
  /* font-family: Neue-Machina; */
  font-family: 'Libre Franklin', sans-serif;
}
#home .home-txt .small {
  font-size: 1em;
  color: white;
  letter-spacing: 0.1em;
  /* font-family: Neue-Machina; */
  font-family: 'Libre Franklin', sans-serif;
  padding-top: 1.5em;
  padding-bottom: 2em;
}
#home .home-txt span {
  color: var(--blue);
  font-size: 4.5em;
  font-weight: 600;
  /* font-family: Neue-Machina; */
  font-family: 'Libre Franklin', sans-serif;
}
#home .home-txt a {
  letter-spacing: 0.1em;
  background-color: transparent;
  width: 16em;
  cursor: pointer;
  height: 4em;
  color: white;
  border-radius: 2em;
  border: 1px solid var(--blue);
  transition: all 0.5s;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .home-txt a:hover {
  color: #98e8cd;
  box-shadow: 0px 0px 1em var(--blue);
}
#home .home-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .home-img .animation {
  width: 600px;
  height: 600px;
}
#about {
  margin-top: 10%;
  width: 100%;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about .about-img img {
  width: 15em;
  height: 15em;
  transform: rotate(90deg);
}
#about .about-txt {
  width: 40%;
  height: 100%;
  text-align: center;
  font-size: 0.8em;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#about .about-txt .about-me {
  color: white;
}
#about .about-txt .one-liner {
  font-family: 'Libre Franklin', sans-serif;
  color: white;
  font-size: 1.5em;
  font-weight: 500;
}
#about .about-txt .one-liner span {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1em;
  color: var(--blue);
  font-weight: 600;
}
#tech-stack{
  width: 100%;
  height: 40em;
  /* border: 2px solid red; */
  margin-top: 10%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#tech-stack .heading{
  width: 100%;
  /* border: 2px solid red; */
}
#tech-stack .heading p{
  text-align: center;
  font-size: 4em;
   color: white;
   font-family: 'Libre Franklin', sans-serif;
}
#tech-stack .skills-container{
  width: 100%;
  height: 80%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#tech-stack .skills-container .layers{
display: flex;
justify-content: space-around;
align-items: center;
height: 50%;
flex-wrap: wrap;
}
#tech-stack .skills-container .layers .skills{
  text-align: center;
}
#tech-stack .skills-container .layers i{
  color: black;
  padding: 1em;
  font-size: 2em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #0e1d3057;
}
#tech-stack .skills-container .layers .skills .fa-html5{
 color: #f06529;
 box-shadow: 0 0 10px #f06529;
}
#tech-stack .skills-container .layers .skills .fa-css3-alt{
  color: #264de4;
  box-shadow: 0 0 10px #264de4;
 }
 #tech-stack .skills-container .layers .skills .fa-js{
  color: #f0db4f;
  box-shadow: 0 0 10px #f0db4f;
 }
 #tech-stack .skills-container .layers .skills .fa-bootstrap{
  color: #8511f3;
  box-shadow: 0 0 10px #8511f3;
 }
 #tech-stack .skills-container .layers .skills .fa-github{
  color:  white;
  box-shadow: 0 0 10px white;
 }
 #tech-stack .skills-container .layers .skills .fa-node-js{
  color: #3d7530;
  box-shadow: 0 0 10px #3d7530;
 }
#tech-stack .skills-container .layers p{
  color: white;
  padding: 0.5em;
}
.quote-container{
  margin-top: 10%;
  background-color: black;
  width: 100%;
  height: 15em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote-container p{
  text-align: center;
  color: white;
  font-size: 1em;
}
.quote-container span{
  text-align: center;
  color: var(--blue);
  font-size: 1em;
}