@media screen and (min-width:320px){
	#navbar-container .logo:after{
		content: "Ayush Gupta";
	}
	#main-container .main-content {
		border: 1px solid greenyellow;
	}
	#main-container .main-content h1{
		width: max-content;
		border: 1px solid rebeccapurple;
	}
}