@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Oxygen&display=swap");
@font-face {
  font-family: AmsterdamSign;
  src: url(../../dist/font/amsterdam-three-slant.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: #23b5b5;
  color: #f2f2f2;
}

*::selection {
  background-color: #23b5b5;
  color: #f2f2f2;
}

body {
  background-color: #0c112b;
}

#navbar-container {
  width: 100vw;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#navbar-container .logo::after {
  content: "AG";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.5em;
  color: #23b5b5;
  font-family: "AmsterdamSign";
  -webkit-animation: logoanime 1s ease-in;
          animation: logoanime 1s ease-in;
}

#navbar-container .hamburger-menu {
  cursor: pointer;
  border-radius: 2px;
  width: 3em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0px 5px;
  -webkit-animation: hamburgeranime 1s ease-in;
          animation: hamburgeranime 1s ease-in;
}

#navbar-container .hamburger-menu .hamburger-menu-line {
  width: 100%;
  height: 0.1em;
  margin: 0.7em 0px;
  background-color: #23b5b5;
}

#navbar-container .lilinks-container {
  display: none;
}

#main-container {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-container .main-content {
  width: 100%;
  height: 14em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#main-container .main-content h1 {
  width: 6em;
  font-size: 2em;
  text-align: center;
  font-family: "Bakbak One";
  background: -webkit-linear-gradient(left, #23b5b5, #abacad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: mainh1anime 1s ease-in;
          animation: mainh1anime 1s ease-in;
}

#main-container .main-content .txt {
  display: none;
}

#main-container .main-content a {
  font-family: "Oxygen", sans-serif;
  padding: 0.5em 1.5em;
  font-size: 1em;
  color: #f2f2f2;
  border-radius: 2px;
  background-color: #23b5b5;
  -webkit-animation: mainbuttonanime 1s ease-in;
          animation: mainbuttonanime 1s ease-in;
}

#main-container .main-content .sociallinks-container {
  display: none;
}

#main-container .main-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#main-container .main-img img {
  width: 100vw;
  height: auto;
  -webkit-animation: mainimganime 1s ease-in;
          animation: mainimganime 1s ease-in;
}

#about-container {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 5em;
}

#about-container .about-content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#about-container .about-content h1 {
  width: 100%;
  font-size: 2.5em;
  text-align: center;
  font-family: "Bakbak One";
  background: -webkit-linear-gradient(left, #23b5b5, #abacad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about-container .about-content p {
  width: 98%;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-align: center;
  color: #abacad;
  font-family: "Oxygen", sans-serif;
}

#about-container .about-img {
  display: none;
}

#skills-container {
  position: relative;
  top: 10em;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#skills-container .skills-content {
  text-align: center;
}

#skills-container .skills-content > h1 {
  padding: 1em 0px;
  width: 100%;
  font-size: 2.5em;
  text-align: center;
  font-family: "Bakbak One";
  background: -webkit-linear-gradient(left, #23b5b5, #abacad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#skills-container .skills-content .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

#skills-container .skills-content .skills h1 {
  color: #f2f2f2;
  font-family: "Oxygen",sans-serif;
  letter-spacing: .1em;
  font-size: 1em;
}

#skills-container .skills-content .skills .skill-bar {
  width: 95%;
  height: 1.3em;
  border-radius: 1em;
  background-color: #f2f2f2;
}

#skills-container .skills-content .skills .skill-bar #skill-limit-1 {
  width: 90%;
  height: 100%;
  -webkit-animation: skilllimit1anime 1s ease-in;
          animation: skilllimit1anime 1s ease-in;
}

#skills-container .skills-content .skills .skill-bar #skill-limit-2 {
  width: 80%;
  height: 100%;
  -webkit-animation: skilllimit2anime 1s ease-in;
          animation: skilllimit2anime 1s ease-in;
}

#skills-container .skills-content .skills .skill-bar #skill-limit-3 {
  width: 60%;
  height: 100%;
  -webkit-animation: skilllimit3anime 1s ease-in;
          animation: skilllimit3anime 1s ease-in;
}

#skills-container .skills-content .skills .skill-bar #skill-limit-4 {
  width: 40%;
  height: 100%;
  -webkit-animation: skilllimit4anime 1s ease-in;
          animation: skilllimit4anime 1s ease-in;
}

#skills-container .skills-content .skills .skill-bar #skill-limit-5 {
  width: 75%;
  height: 100%;
  -webkit-animation: skilllimit5anime 1s ease-in;
          animation: skilllimit5anime 1s ease-in;
}

#skills-container .skills-content .skills .skill-bar #skill-limit-6 {
  width: 80%;
  height: 100%;
  -webkit-animation: skilllimit6anime 1s ease-in;
          animation: skilllimit6anime 1s ease-in;
}

#skills-container .skills-content .skills .skill-bar .skill-limit {
  font-family: "Oxygen",sans-serif;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 5px;
  color: #f2f2f2;
  background-color: #23b5b5;
  -webkit-box-shadow: 0px 0px 10px #23b5b5;
          box-shadow: 0px 0px 10px #23b5b5;
}

#skills-container .skills-img {
  display: none;
}

#projects-container {
  position: relative;
  top: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#projects-container > h1 {
  text-align: center;
  width: 100%;
  width: 100%;
  font-size: 2.5em;
  text-align: center;
  font-family: "Bakbak One";
  background: -webkit-linear-gradient(left, #23b5b5, #abacad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#projects-container .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: .5em;
  height: 80em;
}

#projects-container .projects .cards {
  width: 12em;
  height: 25em;
  border-radius: .5em;
  background-color: #1a224d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 5px #1a224d;
          box-shadow: 0px 0px 5px #1a224d;
}

#projects-container .projects .cards h1 {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  padding-top: .5em;
  color: #f2f2f2;
}

#projects-container .projects .cards p {
  color: #f2f2f2b2;
  text-align: center;
  padding: .5em;
  font-size: 1em;
}

#projects-container .projects .cards a {
  text-align: center;
  font-family: "Oxygen", sans-serif;
  padding: 0.5em 1.5em;
  font-size: 1em;
  color: #f2f2f2;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  background-color: #23b5b5;
  cursor: pointer;
}

#projects-container .projects .cards a :hover {
  background-color: #f2f2f2;
}

/* Animations */
@-webkit-keyframes logoanime {
  from {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  to {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}
@keyframes logoanime {
  from {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  to {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@-webkit-keyframes hamburgeranime {
  from {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  to {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@keyframes hamburgeranime {
  from {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  to {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@-webkit-keyframes mainh1anime {
  from {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  to {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@keyframes mainh1anime {
  from {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  to {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@-webkit-keyframes mainbuttonanime {
  from {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  to {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@keyframes mainbuttonanime {
  from {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  to {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@-webkit-keyframes mainimganime {
  from {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  to {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@keyframes mainimganime {
  from {
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  to {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@-webkit-keyframes skilllimit1anime {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@keyframes skilllimit1anime {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@-webkit-keyframes skilllimit2anime {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@keyframes skilllimit2anime {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@-webkit-keyframes skilllimit3anime {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes skilllimit3anime {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@-webkit-keyframes skilllimit4anime {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}

@keyframes skilllimit4anime {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}

@-webkit-keyframes skilllimit5anime {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

@keyframes skilllimit5anime {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

@-webkit-keyframes skilllimit6anime {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@keyframes skilllimit6anime {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
